<%- include('./teamplates/header') %>
    <!-- <h1>Trang quản trị</h1> -->

    <div class="admin-layout">
        <ul id="admin_menu">
            <li><a href="/admin">Tổng quan</a></li>
            <li><a href="/admin/product">Quản lí sản phẩm</a></li>
            <li><a href="/admin/user">Quản lí tài khoản</a></li>
            <li><a href="/admin/order">Quản lí đơn hàng</a></li>
        </ul>
        <!-- </div> -->


        <div class="main-layout">
            <h1>Cập nhật sản phẩm #<%= Product.id %></h1>
            <form class="DN" action="" method="post" >
                <label for="name">Tên Sản Phẩm</label> <br><input type="text" id="name" name="name" value="<%= Product.name %>"><br>
                <label for="price">Giá Sản Phẩm</label> <br><input type="number" id="name" name="price" value="<%= Product.price %>"><br>
                <label for="type">Loại Sản Phẩm</label> <br>
                <select name="type" id="type">
                    <option value="tea"<%= (Product.type=='tea')? 'selected' : '' %>>tea</option>
                    <option value="Hi-Tea"<%= (Product.type=='Hi-Tea')? 'selected' : '' %>>Hi-Tea</option>
                    <option value="Milk Tea"<%= (Product.type=='Milk Tea')? 'selected' : '' %>>Milk Tea</option>
                    <option value="Chocolate"<%= (Product.type=='Chocolate')? 'selected' : '' %>>Chocolate</option>
                    <option value="topping"<%= (Product.type=='topping')? 'selected' : '' %>>Topping</option>
                </select><br>
                <button type="submit">Cập nhật</button>
            </form>



        </div>
    </div>
    <%- include('./teamplates/footer') %>